<ion-content class="screen" fullscreen>
  <div class="page">
    <div class="brand">Aerolíneas ReTime</div>
    <h1 class="welcome">¡Bienvenido, Vos!</h1>

    <div class="search-card">
      <div class="row title">
        <span class="icon-lens" aria-hidden="true"></span>
        <ion-input
          class="inline-input"
          [(ngModel)]="codigo"
          placeholder="Ingresar tu vuelo"
          inputmode="text">
        </ion-input>
      </div>

      <ion-button expand="block" class="cta" (click)="buscar()">BUSCAR</ion-button>


      <div class="after" *ngIf="vuelo">
        <div class="meta">
          <div class="code">{{ vuelo.numero_vuelo }}</div>
          <div class="dot">•</div>
          <div class="date">{{ vuelo.fecha | date:'dd MMM y' }}</div>
        </div>

        <div class="times">
          <div class="pill"><span class="lbl">Salida</span> {{ vuelo.hora_salida }}</div>
        </div>

        <div class="route">
          <div class="airport">
            <div class="iata">{{ vuelo.origen }}</div>
            <div class="city">Buenos Aires</div>
          </div>
          <div class="arrow">→</div>
          <div class="airport">
            <div class="iata">{{ vuelo.destino }}</div>
            <div class="city">Miami</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Error -->
    <ion-text color="danger" *ngIf="error" class="err">{{ error }}</ion-text>
  </div>
</ion-content>
